<div class="well hoverwell thumbnail">
    <h2>{{event?.name}}</h2>
    <div>Date: {{event?.date}}</div>
    <!-- [ngClass]="getClasses()" -->
    <div [ngSwitch]="event?.time" 
    [style.color]="event?.time === '10:00 am'? 'red': 'green'" 
    [ngStyle]="{'color': event?.time === '8:00 am' ? 'blue': 'pink', 'font-weight': event?.time === '10:00 am' ? 'bold': 'normal'}" 
    [class.green]="event?.time === '8:00 am'" 
    [ngClass]="{bold: event?.time === '8:30 am', red: event?.time === '2:00 pm'}">
        Time: {{event?.time}}
        <span *ngSwitchCase="'8:00 am'"> (Early Start)</span>
        <span *ngSwitchCase="'10:00 am'"> (Normal Start)</span>
        <span *ngSwitchCase="'2:00 pm'"> (Afternoon Start)</span>
        <span *ngSwitchCase="'8:30 am'"> (Morning Start)</span>
        <span *ngSwitchDefault>Good day</span>
    </div>
    <div>Price: {{event?.price}} INR</div>
    <div *ngIf="event?.location">
        <span>Location: {{event?.location?.address}}</span>
        <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}} </span>
    </div>
    <!--<div [hidden]="event?.onlineUrl"> -->
    <div *ngIf="event?.onlineUrl">
        Online URL: {{ event?.onlineUrl }}
    </div>
    <button class="btn btn-primary" (click)="handleClickMe()">Click Me!!</button>
</div>